<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product detail</title>

    <!--Start of Tawk.to Script-->

    <!--End of Tawk.to Script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/js/bootstrap.js"></script>
    <!-- SmartMenus jQuery plugin -->
    <!-- SmartMenus jQuery Bootstrap Addon -->

    <!-- To Slider JS -->
    <script src="../assets/js/sequence.js"></script>
    <script src="../assets/js/sequence-theme.modern-slide-in.js"></script>
    <!-- Product view slider -->
    <script type="text/javascript" src="../assets/js/jquery.simpleGallery.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.simpleLens.js"></script>
    <!-- slick slider -->
    <script type="text/javascript" src="../assets/js/slick.js"></script>
    <!-- Price picker slider -->
    <script type="text/javascript" src="../assets/js/nouislider.js"></script>
    <script type="text/javascript" src="../assets/js/validate.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="../assets/js/custom.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link href="../assets/css/font-awesome.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link rel="icon" href="../assets/images/logo-index.png" type="image/x-icon">
    <!-- SmartMenus jQuery Bootstrap Addon CSS -->
    <link href="../assets/css/jquery.smartmenus.bootstrap.css" rel="stylesheet">
    <!-- Product view slider -->
    <link rel="stylesheet" type="text/css" href="../assets/css/jquery.simpleLens.css">
    <!-- slick slider -->
    <link rel="stylesheet" type="text/css" href="../assets/css/slick.css">
    <!-- price picker slider -->
    <link rel="stylesheet" type="text/css" href="../assets/css/nouislider.css">
    <!-- Theme color -->
    <link id="switcher" href="../assets/css/theme-color/default-theme.css" rel="stylesheet">

    <!-- Top Slider CSS -->
    <link href="../assets/css/sequence-theme.modern-slide-in.css" rel="stylesheet" media="all">

    <!-- Main style sheet -->
    <link href="../assets/css/style.css" rel="stylesheet">

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../assets/css2/bootstrap.css" />
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="../assets/css2/magnific-popup.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../assets/css2/font-awesome.css" />
    <!-- Fancybox -->
    <link rel="stylesheet" href="../assets/css2/jquery.fancybox.min.css" />
    <!-- Themify Icons -->
    <link rel="stylesheet" href="../assets/css2/themify-icons.css" />
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="../assets/css2/niceselect.css" />
    <!-- Animate CSS -->
    <link rel="stylesheet" href="css/animate.css" />
    <!-- Flex Slider CSS -->
    <link rel="stylesheet" href="../assets/css2/flex-slider.min.css" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="../assets/css2/owl-carousel.css" />
    <!-- Slicknav -->
    <link rel="stylesheet" href="../assets/css2/slicknav.min.css" />

    <!-- Eshop StyleSheet -->
    <link rel="stylesheet" href="../assets/css2/reset.css" />
    <link rel="stylesheet" href="../assets/css2/style.css" />
    <link rel="stylesheet" href="../assets/css2/responsive.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />

    <link rel="stylesheet" href="../assets/css2/responsive.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="../assets/js2/jquery.min.js"></script>
    <script src="../assets/js2/jquery-migrate-3.0.0.js"></script>
    <script src="../assets/js2/jquery-ui.min.js"></script>
    <!-- Popper JS -->
    <script src="../assets/js2/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="../assets/js2/bootstrap.min.js"></script>
    <!-- Color JS -->
    <script src="../assets/js2/colors.js"></script>
    <!-- Slicknav JS -->
    <script src="../assets/js2/slicknav.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="../assets/js2/owl-carousel.js"></script>
    <!-- Magnific Popup JS -->
    <script src="../assets/js2/magnific-popup.js"></script>
    <!-- Waypoints JS -->
    <script src="../assets/js2/waypoints.min.js"></script>
    <!-- Countdown JS -->
    <script src="../assets/js2/finalcountdown.min.js"></script>
    <!-- Nice Select JS -->
    <script src="../assets/js2/nicesellect.js"></script>
    <!-- Flex Slider JS -->
    <script src="../assets/js2/flex-slider.js"></script>
    <!-- ScrollUp JS -->
    <script src="../assets/js2/scrollup.js"></script>
    <!-- Onepage Nav JS -->
    <script src="../assets/js2/onepage-nav.min.js"></script>
    <!-- Easing JS -->
    <script src="../assets/js2/easing.js"></script>
    <!-- Active JS -->
    <script src="../assets/js2/active.js"></script>
</head>

<body>
    <header class="header shop">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-12">
                        <!-- Top Left -->
                        <div class="top-left">
                            <ul class="list-main">
                                <li><i class="fa fa-home"></i> <a href="#">Kênh người bán</a></li>
                                </li>
                                <li><i class="fa fa-envelope-square"></i> <a href="#">electronicshop@gmail.com</a></li>
                            </ul>
                        </div>
                        <!--/ End Top Left -->
                    </div>
                    <div class="col-lg-7 col-md-12 col-12">
                        <!-- Top Right -->
                        <div class="right-content">
                            <ul class="list-main">
                                <li><i class="fa fa-user-circle"></i> <a href="edituser.html">Tài khoản</a></li>
                                <li><i class="fa fa-power-off"></i><a href="login.html#">Đăng nhập</a></li>
                                <li><i class="fa fa-sign-in-alt"></i><a href="logout.html#">Đăng xuất</a></li>
                            </ul>
                        </div>
                        <!-- End Top Right -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar -->
        <div class="middle-inner">
            <div class="container">
                <div class="row">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="index.html"><img src="../assets/images/logo-login-small.png" alt="logo img" width="100%"></a>
                    </div>
                    <!--/ End Logo -->
                    <!-- Search Form -->
                    <div class="search-bar-box">
                        <form action="${pageContext.request.contextPath}/view/client/product/search" method="GET" class="form-search">
                            <input class="search_input" type="text" name="" placeholder="Tìm kiếm sản phẩm...">
                            <button href="#" class="search_btn" type="submit"><span class="fas fa-search"></span></button>
                        </form>
                    </div>
                    <div class="right-bar">
                        <!-- Search Form -->

                        <div class="sinlge-bar shopping">
                            <a href="#" class="single-icon">
                                <span class="fas fa-cart-arrow-down"></span>
                                <span class="aa-cart-title">GIỎ HÀNG</span>
                                <span class="total-count">2</span>
                            </a>
                            <!-- Shopping Item -->
                            <div class="shopping-item">
                                <div class="dropdown-cart-header">
                                    <span>2 Items</span>
                                    <a href="#">View Cart</a>
                                </div>
                                <ul class="shopping-list">
                                    <li>
                                        <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                                        <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
                                        <h4><a href="#">Woman Ring</a></h4>
                                        <p class="quantity">1x - <span class="amount">$99.00</span></p>
                                    </li>
                                    <li>
                                        <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                                        <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
                                        <h4><a href="#">Woman Necklace</a></h4>
                                        <p class="quantity">1x - <span class="amount">$35.00</span></p>
                                    </li>
                                </ul>
                                <div class="bottom">
                                    <div class="total">
                                        <span>Total</span>
                                        <span class="total-amount">$134.00</span>
                                    </div>
                                    <a href="checkout.html" class="btn animate">Checkout</a>
                                </div>
                            </div>
                            <!--/ End Shopping Item -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="header-inner">
            <div class="container">
                <div class="cat-nav-head">
                    <div class="row">
                        <div class="col-12">
                            <div class="menu-area">
                                <!-- Main Menu -->
                                <nav class="navbar navbar-expand-lg">
                                    <div class="navbar-collapse">
                                        <div class="nav-inner">
                                            <ul class="nav main-menu menu navbar-nav">
                                                <li class="active"><a href="#">Trang chủ</a></li>
                                                <li><a href="#">Sản phẩm</a></li>
                                                <li><a href="#">Dịch vụ</a></li>
                                                <li><a href="#">tác vụ<i class="ti-angle-down"></i><span class="new">New</span></a>
                                                    <ul class="dropdown">
                                                        <li><a href="cart.html">Giỏ hàng</a></li>
                                                        <li><a href="checkout.html">Thanh toán</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Pages</a></li>
                                                <li><a href="#">Blog<i class="ti-angle-down"></i></a>
                                                    <ul class="dropdown">
                                                        <li><a href="blog-single-sidebar.html">Blog Single Sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="contact.html">Liên hệ</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                                <!--/ End Main Menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bread-inner">
                        <ul class="bread-list">
                            <li><a href="index.html">Trang chủ<i class="ti-arrow-right"></i></a></li>
                            <li class="active"><a href="blog-single.html">Chi tiết sản phẩm</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / catg header banner section -->

    <!-- product category -->
    <section id="aa-product-details">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-product-details-area">
                        <div class="aa-product-details-content">
                            <div class="row">
                                <!-- Modal view slider -->

                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    <div class="aa-product-view-slider">
                                        <div id="demo-1" class="simpleLens-gallery-container">
                                            <div class="simpleLens-container">
                                                <div class="simpleLens-big-image-container">
                                                    <a data-lens-image="${pageContext.request.contextPath}/view/client/assets/images/products/img-test/${detail_product.image_link}" class="simpleLens-lens-image"><img src="../assets/images/products/dongho/Apple Watch S6 44mm viền nhôm dây cao su đen.png" class="simpleLens-big-image"></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Modal view content -->

                                <div class="col-md-7 col-sm-7 col-xs-12">
                                    <div class="aa-product-view-content">
                                        <h3>${detail_product.name }</h3>
                                        <div class="aa-price-block">
                                            <c:choose>
                                                <c:when test="${detail_product.discount == 0}">
                                                    <span class="aa-product-price">${detail_product.price} VNĐ</span><span class="aa-product-price"></span>
                                                </c:when>
                                                <c:otherwise>
                                                    <c:forEach items="${productlist1}" var="product1">
                                                        <c:if test="${product1.id == detail_product.id}">
                                                            <span class="aa-product-price"><strong>${product1.price} VNĐ</strong></span>
                                                            <span class="aa-product-price"><del>${detail_product.price} VNĐ</del></span>
                                                        </c:if>
                                                    </c:forEach>
                                                </c:otherwise>
                                            </c:choose>

                                            <p class="aa-product-avilability">Tình trạng: <span>
                    <c:choose>
                          <c:when test="${detail_product.status == 1}"> 
                            <c:out value="Còn hàng"/>
                           </c:when>
                           <c:otherwise>
                    <c:out value="Hết hàng"/>
                </c:otherwise>
                         </c:choose>
                  </span></p>
                                        </div>
                                        <p>${detail_product.description}</p>
                                        <div class="aa-prod-quantity">

                                            <p class="aa-prod-category">
                                                <c:forEach items="${name_cate_of_product}" var="name_cate">
                                                    <strong>Danh mục:</strong> <a href="product.jsp">${name_cate.name }</a>
                                                </c:forEach>
                                            </p>
                                        </div>
                                        <div class="aa-prod-view-bottom">
                                            <a class="aa-add-to-cart-btn" href="${pageContext.request.contextPath}/view/client/add-cart?product-id=${detail_product.id}">Thêm vào giỏ hàng</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="aa-product-details-bottom">
                            <ul class="nav nav-tabs aa-products-tab" id="myTab2">
                                <li class="active"><a href="#description" data-toggle="tab" class="">Mô tả</a></li>
                                <li><a href="#review" data-toggle="tab">Đánh giá</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="description">
                                    <p>${detail_product.content }</p>
                                </div>
                                <div class="tab-pane fade " id="review">
                                    <div class="aa-product-review-area">
                                        <ul class="aa-review-nav">
                                            <c:forEach items="${reviewbyid}" var="review">
                                                <li>
                                                    <div class="media">
                                                        <div class="media-body">
                                                            <h4 class="media-heading"><strong>${review.name}</strong> - <span>${review.created}</span></h4>
                                                            <div class="aa-product-rating">
                                                                <span class="fa fa-star"></span>
                                                                <span class="fa fa-star"></span>
                                                                <span class="fa fa-star"></span>
                                                                <span class="fa fa-star"></span>
                                                                <span class="fa fa-star"></span>
                                                            </div>
                                                            <p>${review.content}</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </c:forEach>
                                        </ul>
                                        <h4>Thêm đánh giá</h4>

                                        <!-- review form -->
                                        <form action="${pageContext.request.contextPath}/view/client/review?id=${detail_product.id}" method="post" class="aa-review-form">
                                            <div class="form-group">
                                                <label for="name">Tên</label>
                                                <input type="text" class="form-control" id="name" placeholder="Name" name="name">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" class="form-control" id="email" placeholder="example@gmail.com" name="email">
                                            </div>
                                            <div class="form-group">
                                                <label for="message">Đánh giá của bạn</label>
                                                <textarea class="form-control" rows="3" id="content" name="content"></textarea>
                                            </div>

                                            <button type="submit" class="btn btn-default aa-review-submit">Gửi</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Related product -->
                        <div class="aa-product-related-item">
                            <h3>SẢN PHẨM LIÊN QUAN</h3>
                            <ul class="aa-product-catg aa-related-item-slider">
                                <!-- start single product item -->
                                <c:forEach items="${productById}" var="product">
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="${pageContext.request.contextPath}/view/client/product-detail?id=${product.id}"><img src="${pageContext.request.contextPath}/view/client/assets/images/products/img-test/${product.image_link}" alt=""></a>
                                            <a class="aa-add-card-btn" href="${pageContext.request.contextPath}/view/client/add-cart?product-id=${product.id}"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="${pageContext.request.contextPath}/view/client/product-detail?id=${product.id}">${product.name}</a></h4>

                                                <c:choose>
                                                    <c:when test="${product.discount == 0}">
                                                        <span class="aa-product-price">${product.price} <u>VNĐ</u></span><span class="aa-product-price"></span>
                                                    </c:when>
                                                    <c:otherwise>
                                                        <c:forEach items="${productlist1}" var="product1">
                                                            <c:if test="${product1.id == product.id}">
                                                                <span class="aa-product-price">${product1.price} VNĐ</span>
                                                                <span class="aa-product-price">${product.price} VNĐ</span>
                                                            </c:if>
                                                        </c:forEach>
                                                    </c:otherwise>
                                                </c:choose>
                                            </figcaption>
                                        </figure>

                                        <c:if test="${product.discount != 0}">
                                            <!-- product badge -->
                                            <span class="aa-badge aa-sale">- ${product.discount}%</span>
                                        </c:if>
                                    </li>
                                </c:forEach>
                                <!-- start single product item -->
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / product category -->
    <!--  end content-->

    <!--  footer-->

    <!-- end footer-->



</body>
<!-- / header section -->

<!--  content -->
<!-- catg header banner section -->