<<<<<<< HEAD
<<<<<<< HEAD
﻿
@model  List<Model.EF.Category>
=======
﻿@model  List<Model.EF.Category>
>>>>>>> 4c3faef7ec5451cb04612f6d7d6422e2cd54cec0
=======
﻿
@model  List<Model.EF.Category>
>>>>>>> 4f9d678... Update Image seller & admin

@{
    int categoryid = 1;
    if (ViewBag.categoryId != null)
    {
        categoryid = ViewBag.categoryId;
    }
}

@foreach (var item in Model)
{
    if (item.Id == categoryid)
    {
        <div class="tab-pane fade show active" id="@item.Id" role="tabpanel">
            <div class="row">
                @Html.Action("SanPhamViewDel", "Products", new { take = 8, categoryid = item.Id })
            </div>
        </div>
    }
    else
    {
        <div class="tab-pane fade" id="@item.Id" role="tabpanel">
            <div class="row">
                @Html.Action("SanPhamViewDel", "Products", new { take = 8, categoryid = item.Id })
            </div>
        </div>
    }
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
}

>>>>>>> 4c3faef7ec5451cb04612f6d7d6422e2cd54cec0
=======
}
>>>>>>> 4f9d678... Update Image seller & admin
