<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<!--<add name="ECommerceContext" connectionString="data source=DESKTOP-K7K9L3M\NGOCTAN;initial catalog=DBEcommerce;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
		<add name="ECommerceContext" connectionString="data source=DESKTOP-K7K9L3M\NGOCTAN;initial catalog=EcommerceDB;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<!--<add name="ECommerceContext" connectionString="data source=DESKTOP-KMNS09Q\MSSQLSERVERWINNO;initial catalog=EcommerceDB;persist security info=True;user id=thangngo;password=stgerrard;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
</configuration>